html, body{height: 100%;}

body{
    display: flex;
    flex-direction: column;
}

/* header */
.head{
    /* 175px */
    height: 1.59rem; 
    border-bottom: 1px solid #f1f1f1;
}

.search .searchCon{
    
}

/* container */
.container{
    flex: 1;
    overflow-y: auto;
}

/* footer */
.foot{
    /* 88px */
    height: 0.79rem;
    border-top: 1px solid #e2e2e2;
    background-color: #f7f7f7;
}